services:
  messagerie-server:
    build: .
    container_name: messagerie_server
    restart: always
    ports:
      - "8010:8010"
    volumes:
      # Map the container's data folder to a local 'server_data' folder on your host
      - ./server_data:/app/data
      # Map logs if you want to see them outside
      - ./server_logs:/app/log
      - ./server.crt:/app/server.crt:ro
      - ./server.key:/app/server.key:ro